div.home-header {
  display: none !important;
}

div.tiktok-dialog {
  display: none !important;
}

div.backdrop-0 {
  display: none !important;
}

div.backdrop-1 {
  display: none !important;
}

div.backdrop-2 {
  display: none !important;
}